---
# this is an empty front matter
---
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ site.data.conference.short_title }} {{ site.data.conference.year }} | ACM SIGCOMM {{
        site.data.conference.year }}</title>

    <!-- css -->
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body data-spy="scroll" data-target="#site-nav">
    {% include header-small.html %}

    <section class="section">
        <div class="article-content">
            <h3>Previous Editions</h3>

            <p>{{ site.data.previous_editions.intro }}</p>

            {% for edition in site.data.previous_editions.editions %}
            <h4><a href="{{ edition.url }}" target="_blank">LEO-NET {{ edition.year }}</a></h4>
            <p>{{ edition.description }}</p>
            {% endfor %}
        </div>
    </section>

    <!-- Footer -->
    {% include footer.html %}

    <!-- import navigation bar and header -->
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="smooth-scroll/dist/js/smooth-scroll.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            window.addEventListener('scroll', function () {
                const navbar = document.querySelector('.navbar-custom');
                if (window.scrollY > 100) {
                    navbar.classList.add('navbar-solid');
                } else {
                    navbar.classList.remove('navbar-solid');
                }
            });
        });
    </script>
</body>

</html>