---
# this is an empty front matter
---
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ site.data.conference.short_title }} {{ site.data.conference.year }} | ACM SIGCOMM {{
        site.data.conference.year }}</title>

    <!-- css -->
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="css/main.css">

    <style>
        .grey-shaded-box {
            background-color: #f2f2f2;
            /* Grey shade */
            padding: 15px;
            /* Space inside the box */
            border: 1px solid #e0e0e0;
            /* Optional border */
            border-radius: 5px;
            /* Rounded corners */
            font-family: Arial, sans-serif;
            /* Optional font styling */
            font-size: 18px;
        }
    </style>

</head>

<body data-spy="scroll" data-target="#site-nav">
    <!-- navigation bar and header placeholder -->
    {% include header.html %}

    <section id="program" class="section facts" style="display: block;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-title">PROGRAM</h3>
                </div>
            </div>

            <table border="0" cellspacing="10" valign="top">
                <tr>
                    <th></th>
                    <th></th>
                </tr>

                {% for item in site.data.timetable %}
                <tr>
                    <td style="vertical-align:text-top;">{{ item.time }}</td>
                    <td style="vertical-align:text-top;">
                        <ulx>
                            {% if item.type == "keynote" %}
                            <h3>{{ item.session }}<br>
                            </h3>
                            <div class="col-sm-3 col-md-3">
                                <figure class="thumbnail">
                                    <a href="{{ item.speaker.profile_url }}" target="_blank"><img
                                            src="{{ item.speaker.image }}" class="img-responsive" alt="Image"></a>
                                    <figcaption class="caption text-center">
                                        <h3>{{ item.speaker.name }}<br>
                                            <small>{{ item.speaker.title }}</small>
                                        </h3>
                                    </figcaption>
                                </figure>
                            </div>
                            <b>Title: {{ item.talk.title }}</b><br>
                            {{ item.talk.abstract }}<br>

                            {% elsif item.type == "opening" %}
                            <h3>{{ item.session }}<br>
                                <font size="2" , style="font-weight:normal">Chair: {{ item.chair }}</font>
                            </h3><br>

                            {% elsif item.type == "break" %}
                            <h3>{{ item.session }}<br>
                            </h3>

                            {% elsif item.type == "technical_session" %}
                            <h3>{{ item.session }}<br>
                            </h3><br>
                            {% for paper in item.papers %}
                            <b>{{ paper.title }}</b><br>
                            <font size="2">{{ paper.authors }}</font><br><br>
                            {% endfor %}

                            {% elsif item.type == "panel" %}
                            <h3>{{ item.session }}<br /><br />
                                <font size="5" , style="font-weight:normal"><b>Topic: {{ item.topic }}</b></font><br />
                                <font size="3" , style="font-weight:normal"><b>Panelists:</b><br />
                                    {% for panelist in item.panelists %}
                                    {{ panelist.name }} ({{ panelist.affiliation }}),<br />
                                    {% endfor %}
                                </font><br />
                                <font size="3" , style="font-weight:normal"><b>Moderator:</b> {{ item.moderator }}
                                </font>
                            </h3><br>
                            {% endif %}
                        </ulx>
                    </td>
                </tr>
                {% if forloop.last == false %}
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
        </div>
    </section>

    <!-- Footer -->
    <footer class="site-footer">
        <div class="container">
            <div class="footer-content">
                <p>&copy; {{ site.data.conference.year }} {{ site.data.conference.short_title }}. All rights reserved.
                </p>
                <p>Part of <a href="https://conferences.sigcomm.org/sigcomm/{{ site.data.conference.year }}/"
                        target="_blank">ACM SIGCOMM {{ site.data.conference.year }}</a></p>
            </div>
        </div>
    </footer>

    <!-- import navigation bar and header -->
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="smooth-scroll/dist/js/smooth-scroll.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const navbar = document.querySelector('.navbar-custom');
            const siteBranding = document.querySelector('.site-branding');

            // Always show logo on non-home pages
            if (siteBranding) {
                siteBranding.classList.add('visible');
            }

            window.addEventListener('scroll', function () {
                if (window.scrollY > 100) {
                    navbar.classList.add('navbar-solid');
                } else {
                    navbar.classList.remove('navbar-solid');
                }
            });
        });
    </script>
</body>

</html>