<nav id="site-nav" class="navbar navbar-fixed-top navbar-custom">
    <div class="container-fluid">
        <div class="navbar-header">
            <!-- logo -->
            <div class="site-branding">
                <a class="logo" href="index.html">{{ site.data.conference.short_title }} {{ site.data.conference.year
                    }}</a>
            </div>

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-items"
                aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbar-items">
            <ul class="nav navbar-nav">
                <!-- navigation menu -->
                <li><a href="index.html">Home</a></li>
                <li><a href="cfp.html">Call for Papers</a></li>
                <li><a href="committee.html">Committees</a></li>
                <li><a href="previous_editions.html">Previous Editions</a></li>
                <li><a href="program.html">Program</a></li>
            </ul>
        </div>
    </div><!-- /.container -->
</nav>

<!-- Full Hero Header - Only for Home Page -->
<header id="site-header" class="site-header valign-center">
    <div class="intro">
        <h1>{{ site.data.conference.short_title }} {{ site.data.conference.year }}</h1>
        <h2>{{ site.data.conference.title }} {{ site.data.conference.year }}</h2>
        <br class="mobile-break">
        <h2 class="hero-location-date">{{ site.data.conference.location }}<br>{{ site.data.conference.dates }}</h2>
        <a href="https://conferences.sigcomm.org/sigcomm/2025/" target="_blank" class="hero-subtitle">Co-located with
            ACM SIGCOMM 2025</a>
        <br class="mobile-break" style="line-height: 5px" />
    </div>
</header>