    <nav id="site-nav" class="navbar navbar-fixed-top navbar-custom">
        <div class="container">
            <div class="navbar-header">

                <!-- logo -->
                <div class="site-branding">
                    <a class="logo" href="index.html">{{ site.data.conference.short_title }} {{ site.data.conference.year }}</a>
                </div>

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-items" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div><!-- /.navbar-header -->

            <div class="collapse navbar-collapse" id="navbar-items">
                <ul class="nav navbar-nav navbar-right">
                    <!-- navigation menu -->
                    <li><a href="index.html">Home</a></li>
                    <li><a href="cfp.html">Call for Papers</a></li>
<!--                     <li><a href="cfp-poster-demo.html">Call for Posters and Demos</a></li> -->
									
<!--                     <li><a href="camera-ready.html#camera-ready">Camera-ready instructions</a></li> -->
                    <li><a href="committee.html">Committees</a></li>
		    <li><a href="previous_editions.html">Previous Editions</a></li>
<!-- 		    <li><a href="accepted-papers.html#accepted">Accepted Papers</a></li> -->
                    <!--<li><a href="accepted.html#accepted">Accepted Papers</a></li>-->
                    <li><a href="program.html#program">Program</a></li>
                    <!--<li><a href="keynote.html">Keynote</a></li>-->
                </ul>
            </div>
        </div><!-- /.container -->
    </nav>
    
    <header id="site-header" class="site-header valign-center" height="100px">
        <div class="intro">

            <h1>{{ site.data.conference.short_title }} {{ site.data.conference.year }}</h1>

            <h2>{{ site.data.conference.title }} {{ site.data.conference.year }}</h2>

            <br class="mobile-break">
            <h2>{{ site.data.conference.location }}<br>{{ site.data.conference.dates }}</h2>

            <!-- <br class="mobile-break"> -->
            <p><small>{{ site.data.conference.subtitle }}</small></p>

            <br class="mobile-break" style="line-height: 5px"/>

            <p><small>Technically co-sponsored by the <a href="https://advancedwireless.org/" target="_blank"><font color="FFFFFF">PAWR</font></a> Project Office and by the <a href="https://slices-sc.eu" target="_blank"><font color="FFFFFF">SLICES-SC</font></a> program</small></p>

            <div class="testbed_logos_row">
                <div class="testbed_logos_column">
                    <a href="https://advancedwireless.org/" target="_blank"><img src="img/logos/pawr_white.png" alt="PAWR logo"></a>
                    <a href="https://slices-sc.eu" target="_blank"><img src="img/logos/slices_logo.png" alt="EMPOWER logo"></a>
                </div>
            </div>
        </div>
    </header>
